@import url("font-family: verdana");
* {
    box-sizing: border-box;
}

body {
    font-family: "Verdana", sans-serif;
    background-color: mediumturquoise;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200vh;
    margin: 0;
}
.title {
    background-color: orchid;
    opacity: 0.8;
    text-align: center;
    border-radius: 1rem;
}
.container{
    padding: 30px 40px;
    border-radius: 1rem;
    border: 3px solid lightsalmon;
    margin: 25px;
    width: 350px;
    background-color: springgreen;
}

h1{
    letter-spacing: 2px;
    margin: 0;
    margin: 10px 0 10px;
    text-transform: uppercase;
}

h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 5px;
    margin-bottom: 12px;
    text-align: center;
    color: teal;
}

h4 {
    margin: 0;
    text-transform: uppercase;
    color: teal;
}
#balance {
    color: teal;
}

.balance-income-savings {
    background-color: wheat;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 5px 6px blue, 0 5px 6px lightseagreen;
}

.balance-income-savings > div {
    flex: 1;
    text-align: center;
}

.income,
.expense,
#balance {
    font-size: 20px;
    letter-spacing: 2px;
    margin: 5px 0;
    font-weight: bolder;
}

.income {
    color: rgb(13, 245, 25);
}
.expense {
    color: red;
}
#balance {
    color: blue;
}
.bg-light {
    background-color: rgb(245, 106, 56);
    margin: 0 2px;

    border-radius: 3px;
}

input[type="text"],
input[type="number"] {
    border: 1px solid silver;
    border-radius: 1rem;
    padding: 5px;
    width: 100%;
    font-size: 16px;
    outline:rgb(13, 245, 25);
    box-shadow: 1px 2px 1px lightyellow;
}
label {
    display: inline-block;
    margin: 10px 0;
    font-weight: bolder;
}

.button {
    width: 100%;
    margin-top: 30px;
    padding: 8px 0;
    border-radius: 1rem;
    outline: lightskyblue;
    background-color: royalblue;
    color: whitesmoke;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 12px;
}
.button:hover {
    color: royalblue;
    background-color: whitesmoke;
}

.delete-button {
    background-color: coral;
    border-radius: 1rem;
    outline: white;
    float: right;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    height: 25px;
}

#text:focus,
#amount:focus {
    width:110%;
    transition: 0.5s;
    border-bottom: 2px solid lightblue;
    border-right: 2px solid lightblue;
}

ul {
    list-style: none;
    display: inline;
}
ul li {
    font-weight: bolder;
    font-size: 21px;
}
.fa {
    color: steelblue;
}
.fa:hover {
    transform: rotate(20deg);
}

#error_msg {
    color: red;
    background-color: white;
    font-weight: bolder;
    padding: 0 10px;
    border-radius: 1rem;
}
.list {
    color: teal;
}

.minus,
.plus {
    margin-bottom: 8px;
    border-bottom: 1px solid white;
}
.minus:hover,
.plus:hover {
    background-color: violet;
    cursor: pointer;
}
.piechart {
    scroll-margin-bottom: 300px;
    display: block;
    position: bottom;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: conic-gradient(
        rgb(54, 221, 21) 70deg, 
        rgb(233, 13, 13) 0 235deg, 
        rgb(70, 18, 211) 0);
}
body,
    .piechart {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }